:host {
  display: flex;
  max-width: 500px;
  color: #000;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input, button {
      padding: 0.5rem;
    }

    button {
      cursor: pointer;
    }
  }
}